spring:
  application:
    name: ai-backend

  datasource:
    url: ${DB_URL:jdbc:postgresql://dpg-d4pasifdiees73ejbac0-a.frankfurt-postgres.render.com:5432/universe_db_ajgz?sslmode=require}
    username: ${DB_USER:universe_db_ajgz_user}
    password: ${DB_PASS:uPlaYHwAo9MQjNGTXGe8226FqxBpkz8G}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    clean-disabled: false

app:
  gemini-api-key: ${GEMINI_API_KEY}

server:
  port: 8080